/* header */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  padding: 0 156px;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  border: 4px solid rgb(148, 235, 18);
}
.bg-navyblue {
  background: #2e2f42;
}
.header {
  max-width: 1440px;
  border-bottom: 1px solid #e7e9fc;
}
.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header-item {
}
.header-item-a {
  padding: 24px 0;

  font-weight: 500;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-item-a:hover,
.header-item-a:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  border: 1px solid rgb(0, 0, 0);
}
.address-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.address-item-a {
  font-style: normal;

  font-weight: 400;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-item-a:hover,
.address-item-a:focus {
  color: #404bbf;
}
/* order-service */
.order-service {
  background-color: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 188px 472px;
  flex-direction: column;
}

.order-service-heading {
  font-weight: 700;
  font-size: 56px;

  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  display: inline;
  max-width: 600px;
}

.order-service-button {
  font-weight: 500;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  padding: 16px 32px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}

/* Qualities */
.qualities {
}
.qualities-heading {
  position: absolute;
  visibility: hidden;
}

.qualities-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 120px 156px;
}
.qualities-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;

  width: 264px;
  height: 104px;
}
.qualities-item-heading {
  font-weight: 500;
  font-size: 20px;

  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.qualities-item-text {
  font-weight: 400;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
}

/* our-team */
.our-team {
  padding: 120px 156px;

  background: #f4f4fd;
}
.our-team-heading {
  font-weight: 700;
  font-size: 36px;

  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  text-transform: capitalize;
}
.our-team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.our-team-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;

  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.our-team-item-img {
}
.our-team-item-heading {
  font-weight: 500;
  font-size: 20px;

  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.our-team-item-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
}
/*  Our Portfolio */
.our-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 72px;
  padding: 120px 0;
}
.our-portfolio-heading {
  font-weight: 700;
  font-size: 36px;

  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.our-portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.our-portfolio-items {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.our-portfolio-items-img {
}
.our-portfolio-items-heading {
  font-weight: 500;
  font-size: 20px;

  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-portfolio-items-text {
  font-weight: 400;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
}

/* footer */

.footer {
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  max-width: 264px;
  margin-bottom: 100px;
}
